body{
    margin: 0;
}

.container{
    display: flex;
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 10px;
}

#border-create{
    border-left: 5px solid;
    border-color: rgb(199, 9, 34);
    border-image-slice: 1;
    line-height: 30px;
    height: 120px;
    
}
.text-size{
    line-height: 30px;
}
.text-size p{
    font-size: 20px;
}
.span-tag{
    color: coral;
}
.first-box h1{
    font-size: 60px;
    padding-left: 15px;
}

.third-img img{
    width: 70%;
}
.third-img{
    padding-left: 250px;
}
.mission{
    text-align: center;
    font-size: 50px;
}
.c-orange{
    color: rgb(241, 150, 13);
}
.boxes{
    display: flex;
    text-align: justify;
}
#left-box{
    background-color: rgb(177, 241, 231);
    width: 50%;
    margin-right: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 4%;
    border-radius: 15px;
}
#middle-box{
    background-color: rgb(220, 243, 177);
    width: 50%;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 4%;
    border-radius: 15px;
}
#right-box{
    background-color: rgb(139, 240, 139);
    width: 50%;
    margin-left: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 4%;
    border-radius: 15px;
}
.boxes-img img{
    width: 40%;
}
.flexible-container{
    display: flex;
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.first-img img{
    width: 80%;
}
.flexible h1{
    font-size: 50px;
}
.flexible p{
    font-size: 20px;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: rgb(240, 38, 38);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
}
.second-img{
    margin-left: 35px;
}
.footer-design{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}
.footer-design h1{
    font-size: 50px;
    font-style: italic;
}
.footer-design footer{
    font-size: 15px;
}
footer{
    padding-bottom: 50px;
}
.footer-color{
    color: rgb(206, 52, 25);
}